<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ myapp }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="p-4">
    <div class="container">
      <h1>{{ myapp }}</h1>
      <p><strong>Автор:</strong> {{ author_name }}</p>
      <p><strong>Группа:</strong> {{ author_group }}</p>

      <nav class="mb-3">
  <ul class="nav nav-pills">
    {% for item in navigation %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.href }}">{{ item.caption }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>



      <!-- Валюты -->
      <h2>Валюты</h2>
      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>NumCode</th>
            <th>CharCode</th>
            <th>Name</th>
            <th>Value</th>
            <th>Nominal</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          {% for item in currencies %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.num_code }}</td>
            <td>{{ item.char_code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.nominal }}</td>
            <td>
              <a href="/currency/delete?id={{ item.id }}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
